
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 93%;
    --foreground: 42 42% 30%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 42 42% 46%;
    --primary-foreground: 210 40% 98%;

    --secondary: 40 19% 88%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 40 19% 92%;
    --muted-foreground: 41 28% 35%;

    --accent: 42 42% 36%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 42 30% 80%;
    --input: 42 30% 80%;
    --ring: 42 42% 46%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-sand-100 text-foreground font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-gold;
  }
}

@layer components {
  .btn-outline {
    @apply px-6 py-2 border border-gold text-gold hover:bg-gold/10 transition-colors duration-300 text-sm rounded-none;
  }
  
  .btn-filled {
    @apply px-6 py-2 bg-gold text-white hover:bg-gold-dark transition-colors duration-300 text-sm rounded-none;
  }
}
